@font-face {
    font-family: 'Matrix';
    src: url('./matrix.ttf');
}
@font-face {
    font-family: 'MatrixCode';
    src: url('./matrix_code_nfi/matrix\ code\ nfi.ttf');
}

.matix-enter {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
  }
  
  .matix-enter.matrix-enter-active {
    height: innerHeight /2;
    transition: height 5s ease-in;
    background-color: black
  }