.matrix {
  background-color: black;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
}

.matrix-half {
  background-color: black;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: 50%;
  transition: height 3s;
}
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.header {
  display: flex;
}
.header-info-enter {
  font-family: 'MatrixCode';
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
  color: #8F00FF;
  text-shadow: 0px 0px 8px rgba(176, 38, 255, 0.8);
  opacity: 0;
}
.header-info {
  font-family: 'MatrixCode';
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
  color: white;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
  opacity: 1;
  transition: opacity 3s ease-in;
}
.char-enter {
  font-family: 'MatrixCode';
  font-size: 30px;
  color: #8F00FF;
  text-shadow: 0px 0px 8px rgba(176, 38, 255, 0.8);
  opacity: 0;
  z-index: 10;
}
.char {
  font-family: 'MatrixCode';
  font-size: 30px;
  padding-right: 10px;
  color: #8F00FF;
  text-shadow: 0px 0px 8px rgba(176, 38, 255, 0.8);
  opacity: 1;
  transition: opacity 2s ease-in;
}

.matrix-rain {
  font-family: 'MatrixCode';
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  user-select: none;
  font-size: 30px;
  z-index: -1;
}

.matrix-rain-end {
  font-family: 'MatrixCode';
  color: #8F00FF;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  user-select: none;
  text-shadow: 0px 0px 8px rgba(176, 38, 255, 0.8);
  font-size: 30px;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s ease-out;
}

.icon-enter {
  padding: 10px;
  color: white;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
  opacity: 0;
}

.icon {
  padding: 10px;
  color: white;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 1));
  opacity: 1;
  width: 6%;
  transition: opacity 2s ease-in;
}